//Variable: Colours
$primary-color: darkcyan;
$secondary-color: black;
$contrast-color: white;
$background-color: white;

//Variable: Font Sizes
$multiplier: 1.1;
$font-sm: 1em * $multiplier;
$font-md: 1.3em * $multiplier;
$font-lg: 1.5em * $multiplier;
$font-xl: 2.9em * $multiplier;

//Variable: Screen Sizes

//Variable: Misc
$box-shadow: 0.2em 0.2em 1em 0.05em #8888886b;

//Main HTML Tags

#contact-me {
  width: 100%;
  background-color: rgb(240, 240, 240);
  padding: 2em;
}

input[type="text"],
textarea {
  width: 100%; /* Full width */
  padding: 0.8em; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 0.3em;
  margin-bottom: 1em;
  resize: vertical;
}

input[type="submit"] {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 3em;
  background-color: $primary-color;
  color: $contrast-color;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

body {
  background-color: $background-color;
}

p {
  color: $secondary-color;
  font-size: $font-sm;
  text-align: center;
}

p.overlay {
  font-weight: 600;
  max-width: 700px;
  position: relative;
  top: -30px;
  padding: 5px 40px;
  border-top: 1px solid darkgrey;
  background-color: rgb(243, 243, 243);
}

h1 {
  color: $primary-color;
  font-size: $font-lg;
  text-align: center;
  padding: 0.5em 0em 0.5em 0em;
}

.title {
  padding-top: 2.3em;
  font-weight: 300;
  color: $contrast-color;
  font-size: $font-xl;
}

h2 {
  color: $primary-color;
  font-size: $font-md;
  text-align: center;
}

.sub-title {
  font-size: $font-lg + 0.31em;
  font-weight: 200;
  color: $contrast-color;
  margin-top: -1em;
}

button {
  background-color: $primary-color;
  color: $contrast-color;
  border: none;
}

textarea {
  width: 50%;
}
//END of Main HTML Tags

.highlight {
  width: 100%;
}

.row {
  text-align: center;
  margin: auto;
}

#hero {
  background-image: url("Images/laptop_internet_music_headphones_camera_desk-wallpaper-2560x1600.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 20em;
  text-align: center;
  color: white;
}

.black-overlay {
  background-color: rgb(0, 0, 0, 0.75);
  height: 20em;
}

img.highlight {
  box-shadow: 4px 4px 10px 2px #888888;
  max-width: 700px;
  transition-duration: 200ms;
}

.image-combo {
  max-width: 700px;
  transition-duration: 200ms;
}

.image-combo:hover {
  transform: translate(0, -10px);
  cursor: pointer;
}

img.service:hover {
  transform: translate(0, -10px);
}

img.service {
  width: 12em;
  padding-bottom: 1em;
  padding-top: 2em;
  transition-duration: 200ms;
}

/*To do:
- lighbox images
- form
- margins on desktop view*/
